packages/MvvmCross.Droid.Support.V7.AppCompat.4.4.0/lib/MonoAndroid70/MvvmCross.Droid.Support.V7.AppCompat.dll.config
packages/MvvmCross.Platform.4.4.0/MvvmCross.Platform.4.4.0.nupkg
packages/MvvmCross.Platform.4.4.0/lib/MonoAndroid/MvvmCross.Platform.dll.mdb
packages/MvvmCross.Platform.4.4.0/lib/Xamarin.Mac20/MvvmCross.Platform.Mac.dll.mdb
packages/MvvmCross.Platform.4.4.0/lib/Xamarin.Mac20/MvvmCross.Platform.dll.mdb
packages/MvvmCross.Platform.4.4.0/lib/Xamarin.iOS10/MvvmCross.Platform.dll.mdb
packages/MvvmCross.Platform.4.4.0/lib/Xamarin.iOS10/MvvmCross.Platform.iOS.dll.mdb
packages/MvvmCross.Platform.4.4.0/lib/Xamarin.tvOS/MvvmCross.Platform.dll.mdb
packages/MvvmCross.Platform.4.4.0/lib/dotnet/MvvmCross.Platform.dll.mdb
packages/MvvmCross.Platform.4.4.0/lib/net45/MvvmCross.Platform.dll.mdb
packages/MvvmCross.Platform.4.4.0/lib/netcore45/MvvmCross.Platform.WindowsStore.pri
packages/MvvmCross.Platform.4.4.0/lib/netcore45/MvvmCross.Platform.dll.mdb
packages/MvvmCross.Platform.4.4.0/lib/portable-net45+win+wpa81+wp80/MvvmCross.Platform.dll.mdb
packages/MvvmCross.Platform.4.4.0/lib/portable-win81+wpa81/MvvmCross.Platform.WindowsCommon.pri
packages/MvvmCross.Platform.4.4.0/lib/portable-win81+wpa81/MvvmCross.Platform.dll.mdb
packages/MvvmCross.Platform.4.4.0/lib/win81/MvvmCross.Platform.WindowsCommon.pri
packages/MvvmCross.Platform.4.4.0/lib/win81/MvvmCross.Platform.dll.mdb
packages/MvvmCross.Platform.4.4.0/lib/wpa81/MvvmCross.Platform.WindowsCommon.pri
packages/MvvmCross.Platform.4.4.0/lib/wpa81/MvvmCross.Platform.dll.mdb
packages/Xamarin.Android.Support.Animated.Vector.Drawable.23.3.0/Xamarin.Android.Support.Animated.Vector.Drawable.23.3.0.nupkg
packages/Xamarin.Android.Support.Animated.Vector.Drawable.24.2.1/Xamarin.Android.Support.Animated.Vector.Drawable.24.2.1.nupkg
packages/Xamarin.Android.Support.Animated.Vector.Drawable.25.3.1/Xamarin.Android.Support.Animated.Vector.Drawable.25.3.1.nupkg
packages/Xamarin.Android.Support.Animated.Vector.Drawable.25.3.1/build/MonoAndroid70/Xamarin.Android.Support.Animated.Vector.Drawable.targets
packages/Xamarin.Android.Support.Annotations.25.3.1/Xamarin.Android.Support.Annotations.25.3.1.nupkg
packages/Xamarin.Android.Support.Annotations.25.3.1/build/MonoAndroid70/Xamarin.Android.Support.Annotations.targets
packages/Xamarin.Android.Support.Compat.24.2.1/Xamarin.Android.Support.Compat.24.2.1.nupkg
packages/Xamarin.Android.Support.Compat.25.3.1/Xamarin.Android.Support.Compat.25.3.1.nupkg
packages/Xamarin.Android.Support.Compat.25.3.1/build/MonoAndroid70/Xamarin.Android.Support.Compat.targets
packages/Xamarin.Android.Support.Core.UI.24.2.1/Xamarin.Android.Support.Core.UI.24.2.1.nupkg
packages/Xamarin.Android.Support.Core.UI.25.3.1/Xamarin.Android.Support.Core.UI.25.3.1.nupkg
packages/Xamarin.Android.Support.Core.UI.25.3.1/build/MonoAndroid70/Xamarin.Android.Support.Core.UI.targets
packages/Xamarin.Android.Support.Core.Utils.24.2.1/Xamarin.Android.Support.Core.Utils.24.2.1.nupkg
packages/Xamarin.Android.Support.Core.Utils.25.3.1/Xamarin.Android.Support.Core.Utils.25.3.1.nupkg
packages/Xamarin.Android.Support.Core.Utils.25.3.1/build/MonoAndroid70/Xamarin.Android.Support.Core.Utils.targets
packages/Xamarin.Android.Support.Design.23.3.0/Xamarin.Android.Support.Design.23.3.0.nupkg
packages/Xamarin.Android.Support.Fragment.24.2.1/Xamarin.Android.Support.Fragment.24.2.1.nupkg
packages/Xamarin.Android.Support.Fragment.25.3.1/Xamarin.Android.Support.Fragment.25.3.1.nupkg
packages/Xamarin.Android.Support.Fragment.25.3.1/build/MonoAndroid70/Xamarin.Android.Support.Fragment.targets
packages/Xamarin.Android.Support.Media.Compat.24.2.1/Xamarin.Android.Support.Media.Compat.24.2.1.nupkg
packages/Xamarin.Android.Support.Media.Compat.25.3.1/Xamarin.Android.Support.Media.Compat.25.3.1.nupkg
packages/Xamarin.Android.Support.Media.Compat.25.3.1/build/MonoAndroid70/Xamarin.Android.Support.Media.Compat.targets
packages/Xamarin.Android.Support.Vector.Drawable.23.3.0/Xamarin.Android.Support.Vector.Drawable.23.3.0.nupkg
packages/Xamarin.Android.Support.Vector.Drawable.23.3.0/build/Xamarin.Android.Support.Vector.Drawable.targets
packages/Xamarin.Android.Support.Vector.Drawable.24.2.1/Xamarin.Android.Support.Vector.Drawable.24.2.1.nupkg
packages/Xamarin.Android.Support.Vector.Drawable.24.2.1/build/Xamarin.Android.Support.Vector.Drawable.targets
packages/Xamarin.Android.Support.Vector.Drawable.25.3.1/Xamarin.Android.Support.Vector.Drawable.25.3.1.nupkg
packages/Xamarin.Android.Support.Vector.Drawable.25.3.1/build/MonoAndroid70/Xamarin.Android.Support.Vector.Drawable.targets
packages/Xamarin.Android.Support.v4.23.3.0/Xamarin.Android.Support.v4.23.3.0.nupkg
packages/Xamarin.Android.Support.v7.AppCompat.23.3.0/Xamarin.Android.Support.v7.AppCompat.23.3.0.nupkg
packages/Xamarin.Android.Support.v7.AppCompat.24.2.1/Xamarin.Android.Support.v7.AppCompat.24.2.1.nupkg
packages/Xamarin.Android.Support.v7.AppCompat.25.3.1/Xamarin.Android.Support.v7.AppCompat.25.3.1.nupkg
packages/Xamarin.Android.Support.v7.AppCompat.25.3.1/build/MonoAndroid70/Xamarin.Android.Support.v7.AppCompat.targets
packages/Xamarin.Android.Support.v7.CardView.23.3.0/Xamarin.Android.Support.v7.CardView.23.3.0.nupkg
packages/Xamarin.Android.Support.v7.MediaRouter.23.3.0/Xamarin.Android.Support.v7.MediaRouter.23.3.0.nupkg
packages/Xamarin.Android.Support.v7.RecyclerView.23.3.0/Xamarin.Android.Support.v7.RecyclerView.23.3.0.nupkg
packages/Xamarin.Build.Download.0.4.3/THIRD-PARTY-NOTICES.txt
packages/Xamarin.Build.Download.0.4.3/Xamarin.Build.Download.0.4.3.nupkg
packages/Xamarin.Build.Download.0.4.3/build/Xamarin.Build.Download.props
packages/Xamarin.Build.Download.0.4.3/build/Xamarin.Build.Download.targets
packages/Xamarin.Forms.2.3.4.224/Xamarin.Forms.2.3.4.224.nupkg
packages/Xamarin.Forms.2.3.4.224/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.targets
packages/Xamarin.Forms.2.3.4.224/lib/MonoAndroid10/FormsViewGroup.dll.mdb
packages/Xamarin.Forms.2.3.4.224/lib/MonoAndroid10/Xamarin.Forms.Core.dll.mdb
packages/Xamarin.Forms.2.3.4.224/lib/MonoAndroid10/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.3.4.224/lib/MonoAndroid10/Xamarin.Forms.Platform.Android.dll.mdb
packages/Xamarin.Forms.2.3.4.224/lib/MonoAndroid10/Xamarin.Forms.Xaml.dll.mdb
packages/Xamarin.Forms.2.3.4.224/lib/MonoAndroid10/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.3.4.224/lib/WP80/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.3.4.224/lib/WP80/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.3.4.224/lib/Xamarin.iOS10/Xamarin.Forms.Core.dll.mdb
packages/Xamarin.Forms.2.3.4.224/lib/Xamarin.iOS10/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.3.4.224/lib/Xamarin.iOS10/Xamarin.Forms.Platform.iOS.dll.mdb
packages/Xamarin.Forms.2.3.4.224/lib/Xamarin.iOS10/Xamarin.Forms.Xaml.dll.mdb
packages/Xamarin.Forms.2.3.4.224/lib/Xamarin.iOS10/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.3.4.224/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.Core.dll.mdb
packages/Xamarin.Forms.2.3.4.224/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.3.4.224/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.Xaml.dll.mdb
packages/Xamarin.Forms.2.3.4.224/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.3.4.224/lib/uap10.0/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.3.4.224/lib/uap10.0/Xamarin.Forms.Platform.UAP.pri
packages/Xamarin.Forms.2.3.4.224/lib/uap10.0/Xamarin.Forms.Platform.UAP/AutoSuggestStyle.xbf
packages/Xamarin.Forms.2.3.4.224/lib/uap10.0/Xamarin.Forms.Platform.UAP/FormsCommandBarStyle.xbf
packages/Xamarin.Forms.2.3.4.224/lib/uap10.0/Xamarin.Forms.Platform.UAP/FormsTextBoxStyle.xbf
packages/Xamarin.Forms.2.3.4.224/lib/uap10.0/Xamarin.Forms.Platform.UAP/MasterDetailControlStyle.xbf
packages/Xamarin.Forms.2.3.4.224/lib/uap10.0/Xamarin.Forms.Platform.UAP/PageControl.xbf
packages/Xamarin.Forms.2.3.4.224/lib/uap10.0/Xamarin.Forms.Platform.UAP/PageControlStyle.xbf
packages/Xamarin.Forms.2.3.4.224/lib/uap10.0/Xamarin.Forms.Platform.UAP/Properties/Xamarin.Forms.Platform.UAP.rd.xml
packages/Xamarin.Forms.2.3.4.224/lib/uap10.0/Xamarin.Forms.Platform.UAP/Resources.xbf
packages/Xamarin.Forms.2.3.4.224/lib/uap10.0/Xamarin.Forms.Platform.UAP/TabbedPageStyle.xbf
packages/Xamarin.Forms.2.3.4.224/lib/uap10.0/Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.xr.xml
packages/Xamarin.Forms.2.3.4.224/lib/uap10.0/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.3.4.224/lib/win81/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.3.4.224/lib/win81/Xamarin.Forms.Platform.WinRT.Tablet.pri
packages/Xamarin.Forms.2.3.4.224/lib/win81/Xamarin.Forms.Platform.WinRT.Tablet/FormsTextBoxStyle.xbf
packages/Xamarin.Forms.2.3.4.224/lib/win81/Xamarin.Forms.Platform.WinRT.Tablet/Resources.xbf
packages/Xamarin.Forms.2.3.4.224/lib/win81/Xamarin.Forms.Platform.WinRT.Tablet/TabletResources.xbf
packages/Xamarin.Forms.2.3.4.224/lib/win81/Xamarin.Forms.Platform.WinRT.Tablet/Xamarin.Forms.Platform.WinRT.Tablet.xr.xml
packages/Xamarin.Forms.2.3.4.224/lib/win81/Xamarin.Forms.Platform.WinRT.pri
packages/Xamarin.Forms.2.3.4.224/lib/win81/Xamarin.Forms.Platform.WinRT/PageControl.xbf
packages/Xamarin.Forms.2.3.4.224/lib/win81/Xamarin.Forms.Platform.WinRT/StepperControl.xbf
packages/Xamarin.Forms.2.3.4.224/lib/win81/Xamarin.Forms.Platform.WinRT/Xamarin.Forms.Platform.WinRT.xr.xml
packages/Xamarin.Forms.2.3.4.224/lib/win81/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.3.4.224/lib/wpa81/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.3.4.224/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone.pri
packages/Xamarin.Forms.2.3.4.224/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone/FormsTextBoxStyle.xbf
packages/Xamarin.Forms.2.3.4.224/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone/PhoneResources.xbf
packages/Xamarin.Forms.2.3.4.224/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone/Resources.xbf
packages/Xamarin.Forms.2.3.4.224/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone/SearchBox.xbf
packages/Xamarin.Forms.2.3.4.224/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone/Xamarin.Forms.Platform.WinRT.Phone.xr.xml
packages/Xamarin.Forms.2.3.4.224/lib/wpa81/Xamarin.Forms.Platform.WinRT.pri
packages/Xamarin.Forms.2.3.4.224/lib/wpa81/Xamarin.Forms.Platform.WinRT/PageControl.xbf
packages/Xamarin.Forms.2.3.4.224/lib/wpa81/Xamarin.Forms.Platform.WinRT/StepperControl.xbf
packages/MvvmCross.Binding.4.4.0/lib/Xamarin.tvOS/MvvmCross.Localization.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/dotnet/MvvmCross.Binding.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/dotnet/MvvmCross.Localization.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/net45/MvvmCross.Binding.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/net45/MvvmCross.Localization.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/netcore45/MvvmCross.Binding.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/netcore45/MvvmCross.Localization.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/portable-net45+win+wpa81+wp80/MvvmCross.Binding.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/portable-net45+win+wpa81+wp80/MvvmCross.Localization.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/portable-win81+wpa81/MvvmCross.Binding.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/portable-win81+wpa81/MvvmCross.Localization.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/win81/MvvmCross.Binding.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/win81/MvvmCross.Localization.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/wpa81/MvvmCross.Binding.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/wpa81/MvvmCross.Localization.dll.mdb
packages/MvvmCross.Core.4.4.0/MvvmCross.Core.4.4.0.nupkg
packages/MvvmCross.Core.4.4.0/lib/Xamarin.Mac20/MvvmCross.Mac.dll.mdb
packages/MvvmCross.Core.4.4.0/lib/Xamarin.iOS10/MvvmCross.iOS.dll.mdb
packages/MvvmCross.Core.4.4.0/lib/netcore45/MvvmCross.WindowsStore.pri
packages/MvvmCross.Core.4.4.0/lib/portable-win81+wpa81/MvvmCross.WindowsCommon.pri
packages/MvvmCross.Core.4.4.0/lib/uap/MvvmCross.WindowsUWP.pri
packages/MvvmCross.Core.4.4.0/lib/uap/MvvmCross.WindowsUWP/Properties/MvvmCross.WindowsUWP.rd.xml
packages/MvvmCross.Core.4.4.0/lib/win81/MvvmCross.WindowsCommon.pri
packages/MvvmCross.Core.4.4.0/lib/wpa81/MvvmCross.WindowsCommon.pri
packages/MvvmCross.Droid.Shared.4.4.0/MvvmCross.Droid.Shared.4.4.0.nupkg
packages/MvvmCross.Droid.Support.Core.UI.4.4.0/MvvmCross.Droid.Support.Core.UI.4.4.0.nupkg
packages/MvvmCross.Droid.Support.Fragment.4.4.0/MvvmCross.Droid.Support.Fragment.4.4.0.nupkg
packages/MvvmCross.Droid.Support.V7.AppCompat.4.4.0/MvvmCross.Droid.Support.V7.AppCompat.4.4.0.nupkg
packages/Xamarin.Forms.2.3.4.224/lib/wpa81/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.3.4.224/lib/wpa81/Xamarin.Forms.Platform.WinRT/Xamarin.Forms.Platform.WinRT.xr.xml
packages/MvvmCross.4.4.0/MvvmCross.4.4.0.nupkg
packages/MvvmCross.Binding.4.4.0/MvvmCross.Binding.4.4.0.nupkg
packages/MvvmCross.Binding.4.4.0/lib/MonoAndroid/MvvmCross.Binding.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/MonoAndroid/MvvmCross.Localization.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/Xamarin.Mac20/MvvmCross.Binding.Mac.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/Xamarin.Mac20/MvvmCross.Binding.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/Xamarin.Mac20/MvvmCross.Localization.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/Xamarin.iOS10/MvvmCross.Binding.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/Xamarin.iOS10/MvvmCross.Binding.iOS.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/Xamarin.iOS10/MvvmCross.Localization.dll.mdb
packages/MvvmCross.Binding.4.4.0/lib/Xamarin.tvOS/MvvmCross.Binding.dll.mdb
